body {
    background-color: rgb(153, 221, 229);
  }
  h1 {
    color: red;
    font-family: verdana;
    font-size: 300%
  }

  h2 {
      color:green;
      font-family: verdana;
      font-size: 150%
  }
    
  h3 {
    color: brown;
    font-family: verdana;
    font-size: 150%;
    
  }
  p {
    color: black;
    font-family: courier;
    margin: 50px;
  }